/* Add your code here */

/* The colors used in this exercise are gray4, teal, lightteal */

/* The width of the form is specified in the styles.css file  */

body {
  background-color: var(--teal);
  max-width: 100vw;
  max-height: 10vh;
}

h2 {
  color: var(--teal);
}
form {
  margin: 0 auto;
  border: 2px;
  border-radius: 4px;
  background-color: var(--white);
  padding: 10px;
}

.required {
  color: var(--teal);
}

.inputinfo {
  margin-bottom: 1em;
}
textarea {
  width: 100%;
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  font-size: 1.2em;
}

.button {
  background-color: var(--teal);
}
